#make sure this matches setup.py install_requires

requests
#pin to a version that starts to support schema 7
jsonschema==3.0.0a3

#require to validate uris
rfc3987
#required to validate date/time
#strict-rfc3339

#allows code coverage reporting
pytest-cov
codecov
