#make sure this matches setup.py install_requires
#TODO pin all of this for preproducibility

requests
#pin to a version that starts to support schema 7
jsonschema==3.0.0a3

#require to validate uris
rfc3987
#required to validate date/time
#strict-rfc3339

#allows code coverage reporting
pytest-cov
codecov

#for python2 and 3 compatibility
future

#improve performance
simplejson
pypeln==0.1.6 #pinned for py2 partial compatibility

opentargets-urlzsource
